.catalogue{
    position: absolute;
    width: 300px;
    height: 900px;
    background: rgb(29, 30, 32);
    overflow: hidden;
    left: -300px;
    transition: .3s;
    z-index: 10;
}

#aaa{
    list-style: none;
}

.cnav{
    color: white;
    font-size: 20px;
    position: absolute;
    top : 0px;
    left: 0px;
    width: 300px;
    height: 40px;
    background-color: rgb(36, 35, 35);
    text-align: center;
}

.cbody{
    position: absolute;
    height: auto;
    width: 300px;
    top: 40px;
}

.cfooter{
    color: white;
    font-size: 20px;
    position: absolute;
    width: inherit;
    height: 40px;
    background-color: rgb(36, 35, 35);
    text-align: center;
    bottom: 0px;
}

.cfooter>span{
    cursor: pointer;
    font-size: 10px;
    float: left;
    color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.cnav>span{
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.cnav>p{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 25px;
    font-style: oblique;
    transform: translate(-50%,-50%);
}

.cbody>ul>li>p{
    position:relative;
    color: rgb(180, 180, 180);
    left: 60px;
    width: 100px;
    font-size: 30px;
    font-style: oblique;
    user-select: none;
    transition: .3s;
    line-height: 100px;
    text-shadow: 5px 5px 2px rgb(17, 16, 16);
    cursor: pointer;
}


.cbody>ul>li>ul>li{
    color: white;
    margin-top: 10px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.cbody>ul>li>ul{
    position: absolute;
    top: 0px;
    height: 780px;
    left: 300px;
    width: 200px;
    transition:  .3s;
    background-color: rgb(17, 16, 16);
}
